body {
    background-image: url(../imagenes/foodbox.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    align-items: center; 
}

@font-face {
    font-family: Rocks;
    src: url(Rocks.ttf);
}

@font-face {
    font-family: Parisienne;
    src: url(Parisienne.ttf);
}

#app {
    padding: 0%;
}

#main {
    justify-content: center;
    margin: 0% 2%;
    background-color: rgba(161, 149, 149, 0.7);
}

#title {
    justify-content: center;
    font-family: Rocks;
    color: #db2e2e;
    font-size: 12vw;
    margin: 0%;
    line-height: 1;
}

.titleA {
    align-self: center;
}

.titleB {
    background-color: #db2e2e;
    color: #db2e2e;
    font-size: 5vw;
}

#subtitle {
    margin-bottom: 2%;
   /* overflow: hidden;
    display: flex;*/
    justify-content: center;
    color: #ccc;
    padding: 0%;
}
#subtitleOne {
    justify-content: space-between;
    align-content: center;
}

#subtitleOne h3 {
    margin-bottom: -20%;
    align-self: center;
    font-family: Rocks;
    color: black;
    font-size: 7vw;
    font-style: normal;
    width: 9%;
}

#subtitleTwo {
    justify-content: center;
}

#chooseTitle {
    justify-content: center;
    padding: 10% 0%;
    background-image: url(../imagenes/mira.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;  
}

h3 {
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

em {
    font-family: Rocks;
    color: black;
    font-size: 7vw;
    font-style: normal;
    width: 9%;
}

em.planet {
  -webkit-animation: planet-rotate 4s linear infinite;
  animation: planet-rotate 4s linear infinite;
  
}

em.planet::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 13vmin;
    height: 13vmin;
    border-radius: 50%;  
}

em.planet.left {
    transform-origin: 320% 100%;
    align-self: center;
    height: 10%;
}

em.planet.right {
    transform-origin: -190% 100%;
    align-self: center;
    justify-content: start;
    height: 10%;
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}

#meat {
    width: 140%;
    align-self: start;
}

#tomate {
    width: 150%;
    align-self: start;
}

#subtitleThree {
    justify-content: center;
    margin-top: -18.5%;
}
.orange-circle-button {
    padding: 1%;
	line-height: 220%;
    padding-top: 2%;
	color: #ffffff;
	background-image:url(../imagenes/buttonGreen.png);
    background-size: cover;
    background-position: center;
	margin: auto;
	border-radius: 50%;
	width: 8%;
    font-family: Rocks;
    color: black;
    z-index: 1;
	
}
.orange-circle-button:hover {
	color:#ffffff;
	text-decoration: none;	
}

.orange-circle-button:visited {
	color:#ffffff;
    background-color: #e84d0e;
	text-decoration: none;
	
}
.orange-circle-greater-than {
    font-size: 270%;
}

/*IMG*/
#chef {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 2%;
}

#chefItem {
    margin: 0% 5%;
}

#v {
    font-family: Parisienne;
    color: black;
    font-size: 1000%;
    text-align: start;
}

#m {
    font-family: Parisienne;
    color: black;
    font-size: 1000%;
    text-align: end;
}

#vegano  {
    background-image: url("../imagenes/vegano.png");
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0%;  
}

#carnicero {
    background-image: url("../imagenes/carnicero.png");
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

/*FORM*/
#logSign {
    padding: 10px;
    margin: 10px 20px 20px 5px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    transition: .5s ease;
    font-family: Rocks;
    font-size: 40px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #000;
  color: #fff;
  font-size: 40px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.tab-group li a:hover {
  background: #de2421;
  color: #ffffff;
}
.tab-group .active a {
  background: #06c93a;
  color: #ffffff;
}

.tab-content {
    background-image: url(../imagenes/mesaTwo..jpg);
   
}

.tab-content > div:last-child {
    display: none;
    font-family: Rocks;
}

h1 {
    text-align: center;
    color: white;
    font-size: 200%; 
    font-weight: 300;
    margin: 0px;
}

.field-wrap {
  position: relative;
  margin: 10px 10px;
    
}

.inputSign {
    color: #fff;
    font-size: 50px;
    letter-spacing: 2px;
    }

.inputSign:highlight {
  color: #000;
  margin-top:-10px;
}

.field-wrap input  {
    font-size: 20px;
    font-family: 'Wellfleet', cursive;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #fff;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.field-wrap input:focus{
  outline: 0;
  border-color: #000;
}

#forgot {
    margin: 2%;
    text-align: right;
    letter-spacing: 2px;
}

#forgot a {
    color: white;
}

.start {
    padding: 10px 0;
    font-family: Rocks;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-image: url(../imagenes/frutas.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: darkred;
    transition: all 0.5s ease;
}

.button:hover, .button:focus {
  box-shadow: 0px 0px 40px 16px rgba(230,230,230,0.5);
}

.button-block {
  display: block;
  width: 100%;
}

#veganoBox, #carniceroBox  {
    justify-content: center;   
}
/*SIDE*/
#side {
    margin: 0px;
}

/*LOGGED PLAYER PAGE*/
#playerLog {
    justify-content: center;
    margin: 0% 2%;
    background-color: rgba(161, 149, 149, 0.7);
}

#playerMenu{
    background-image: url(../imagenes/backgroundMenu.jpg);
    background-size: 100% ;
    /*background-repeat: no-repeat;*/
    padding: 2%;
    margin: 1% 5% 5% 5%;
}

.navBar {
    justify-content: space-between;
    opacity: 80%;
    margin-top: 1%;
}

.navBar a {
    color: white;
}

.navBarTitle {
    font-family: Rocks;
    font-size: 25px;
    letter-spacing: 1px;
}

.logOut {
    font-family: Rocks;
    font-size: 25px;
    letter-spacing: 1px;
}

#army {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2% 0%;
}

#armyUser {
    opacity: 80%;
    font-family: Rocks;
    color: white;
    font-size: 6vw;
    line-height: 1;
    text-transform: uppercase;
}

#navbarSupportedContent {
   margin: 5% 0% 0% 0%; 
}

.nav-tabs {
    box-shadow: 2px 0px 10px 2px white;
    margin: 0% 3% 3% 3%;
    padding: 0%;
    font-family: Rocks;
    font-size: 70px;
    justify-content:space-around;
    align-items: center;
    opacity: 80%;
}

.nav-item {
    margin: 0% 1%; 
    border: none;
    text-decoration: none;
    transition: .5s ease;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    border: none;
    color: #179b77;
}

#menuDisplay {
    margin: 0%;
    justify-content: space-around;
}

#menuDisplayBox {
    margin: 0% 2% 0% 2%;
    padding: 0%;
    box-shadow: 1px 5px 10px 5px white;
    opacity: 80%;
    background-color: white;
    border-radius: 1%;
}

#home, #join, #continue, #statistics {
    align-items: center;
    margin: 0%;
    padding: 0%;
}

/*HOME-TAB*/
#home div {
    margin: 0%;
}
#homeText {
    text-align: justify;
    font-size: 50px;
    font-family: Rocks;
    color: white;
    line-height: 1;
    margin: 4% 2%;
    padding: 0%;
}

#create {
    font-family: Rocks;
    font-size: 70px;
    color: white;
    background-image: url(../imagenes/frutas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 80%;
    margin: 5% 5%;
    border-radius: 25%;
}

#create:hover { 
  color: red;
}

/*JOIN-COMTINUE-STATISTICS TABS*/
.listContent {
    list-style: none;
    margin: 2% 2%;
}

.listContent > li:nth-of-type(odd) {
    background-color: #e9e9f9 ;
}

.listContent > li:last-child {
    border-bottom: none;
}

.listContent li {
    list-style: none;
}

.btn-circle.btn-xl {
    background-image: url(../imagenes/pelea.jfif);
    background-position: center;
    background-size: cover;
    box-shadow: 1px 5px 10px 5px black;
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 

.btn-circle.btn-xl:hover {
    background-image: url(../imagenes/boca.jpg);
}

.joinList {
    font-family:fantasy;
    font-weight: lighter;
    letter-spacing: 5%;
    font-size: 25px;
    color: black;
    opacity: 80%;
    margin-bottom: 2%;
}

.joinList  li span {
    color: green;
}

.joinList div .title {
    padding-right: 0%;
}

.joinList div .link {
    padding: 0%;
    margin-right: 2%;
}

.joinList ul {
    margin: 0%;
}

.continueList {
    font-family:fantasy;
    font-weight: lighter;
    letter-spacing: 5%;
    font-size: 25px;
    color: black;
    opacity: 80%;  
    margin-bottom: 2%;
}

.continueList li span {
    color: darkred;
}

.continueList div .continuetitle {
    padding-right: 0%;
}

.continueList div .continuelink {
    padding-left: 0%;
}

.continueList ul {
    margin: 0%;
}

/*LEADERBOARD*/
#tableLeaderBoard {                     
    color: white;
    margin: 2% 2%; 
    padding: 0%;
}

#tableLeaderBoard thead tr {
    text-transform: uppercase;
    font-size: 50px;
    font-family: Rocks;
    text-align: center;
}

.player {
    text-align: left;
}

.score {
    text-align: right;
}

#tableLeaderBoard tbody tr {
    font-size: 25px;
    text-align: center;
}

#leaderboard tr {
    text-align: center;
}

/*MODAL LOG*/
.modalFoodContent {
    background-image: url(../imagenes/mesaOne.jfif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.modalFoodTitle {
   /* text-align: center;*/
    font-family: Rocks;
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
}

.modalFoodHeader {
    margin: 0%;
}

.modalFoodHeader button {
    margin-left:  -20%;
    margin-right: 0%;
}

.modalFoodBody {
    justify-content: space-around;
}