body {
    background-image: url(../imagenes/foodbox.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

#app {
    padding: 0%;
}

#main {
     justify-content: center;
    margin: 0% 2%;
    background-color: rgba(161, 149, 149, 0.7);
}

@font-face {
    font-family: Rocks;
    src: url(Rocks.ttf);
}

#mainGame {
    background-image: url(../imagenes/mesaTwo..jpg);
    background-size: cover;
    background-position: center;
    /*background-repeat: no-repeat;*/
    padding: 1%;
    margin: 0% 5% 5% 5%;
}

#navBar {
    justify-content: space-between;
    background-image: url(../imagenes/mesaThree.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 70%;
}

#navBarTitle {
    font-family: Rocks;
    font-size: 25px;
    letter-spacing: 1px;
    color: white;
}

#quitGame {
    font-family: Rocks;
    font-size: 25px;
    letter-spacing: 2px;
}

.title, .titleM {
    justify-content: center;
    text-align: center;
    font-family: Rocks;
    color: darkred;
    font-size: 10vw;
    margin: 0%;
    line-height: 1;
}

#player, #player2,#playerM, #player2M {
    text-transform: uppercase;
    font-family: Rocks;
    font-size: 80px;
    letter-spacing: 2px;
    color: black;
    text-align: center;
}

#player span, #playerM span {
    color: darkgreen;
}

#player2, #player2M {
    color: darkgreen;  
}

p span {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#gameSalvo {
    margin-top: 5%;
}

#opponent {
    font-family: Rocks;
    font-size: 30px;
}

/*GRILLA*/
#prepare {
    color: white;
}

#prepareOptions {
    padding: 0%;
    /*box-shadow: inset 0 0 10px white;*/
}

#prepareBoard {
    margin-right: 5%;
}

div h3 {
    font-family: Rocks;
    font-size: 50px;
    letter-spacing: 3px;
}

div p {
    font-family: Rocks;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.nailHead {
    margin-top: 4%;
    height: 40%;
}

#gridFive,
#gridFour,
#gridThreeB,
#gridThree,
#gridTwo {
    padding: 0%;
}

#gridFive2,
#gridFour2,
#gridThreeB2,
#gridThree2,
#gridTwo2 {
    padding: 0%;
}

#buttonSaveRow {
    margin: 5% 2% 0% 0%;
}

#buttonSave, #buttonSaveM {
    font-family: Rocks;
    font-size: 30px;
    letter-spacing: 1px;
}

#vegano, #carnicero {
    margin-top: 10%;
    box-shadow: 0 10px 10px -7px white;
}

/*GRILLA SHIPS*/
.grid-shipsPosition {
    padding-top: 52px;
    padding-left: 10%;
    margin: 0%;
    width: 500px 500px;
    background-image: url(../grilla/style/grid-bkg2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: flex-end;
}

.gridPosition {
    padding: 0%;
}

.grid-stack-item-content {
    background-repeat: no-repeat;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    left: 0px !important;
    right: 0px !important;
}

/*Horizontal*/
.chocloHorizontal {
    background-image: url('../grilla/style/choclohorOne.png');
    background-size: contain;
}

.costillarHorizontal {
    background-image: url('../grilla/style/costillarhorOne.png');
    background-size: contain;
}

.pepinoHorizontal {
    background-image: url('../grilla/style/pepinohorOne.png');
    background-size: contain;
}

.pernilHorizontal {
    background-image: url('../grilla/style/pernilhorOne.png');
    background-size: contain;
}

.lechugaHorizontal {
    background-image: url('../grilla/style/lechugahorOne.png');
    background-size: contain;
}

.churrascoHorizontal {
    background-image: url('../grilla/style/churrascohorOne.png');
    background-size: contain;
}

.morronHorizontal {
    background-image: url('../grilla/style/morronhorOne.png');
    background-size: contain;
}

.polloHorizontal {
    background-image: url('../grilla/style/pollohorOne.png');
    background-size: contain;
}

.papaHorizontal {
    background-image: url('../grilla/style/papahorOne.png');
    background-size: contain;
}

.chorizoHorizontal {
    background-image: url('../grilla/style/chorizohorOne.png');
    background-size: contain;
}

/*Vertical*/
.chocloVertical {
    background-image: url('../grilla/style/chocloverOne.png');
    background-size: 100% 100%;
    width: 40px
}

.costillarVertical {
    background-image: url('../grilla/style/costillarverOne.png');
    background-size: 100% 100%;
    width: 40px
}

.pepinoVertical {
    background-image: url('../grilla/style/pepinoverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}

.pernilVertical {
    background-image: url('../grilla/style/pernilverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}

.lechugaVertical {
    background-image: url('../grilla/style/lechugaverOne.png');
    background-size: 100% 100%;
    width: 55px !important;
}

.churrascoVertical {
    background-image: url('../grilla/style/churrascoverOne.png');
    background-size: 100% 100%;
    width: 55px !important;
}

.morronVertical {
    background-image: url('../grilla/style/morronverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}

.polloVertical {
    background-image: url('../grilla/style/polloverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}

.papaVertical {
    background-image: url('../grilla/style/papaverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}

.chorizoVertical {
    background-image: url('../grilla/style/chorizoverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}

/*GRILLA SALVOS*/
#salvoGrid {
    background-color: rgba(103, 128, 159, 0.7)
}

#salvoGrid td,
#salvoGrid th {
    text-align: center;
    padding: .63rem;
    width: 8%;
}

#salvoGrid tbody td:hover {
    background-image: url(../imagenes/mira.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.salvosSelect {
    background-color: yellow;
    border-radius: 100px;
}

#buttonSaveSalvo,
#buttonStartSalvo {
    font-family: Rocks;
    font-size: 30px;
    letter-spacing: 1px;
}

.shot {
    background-image: url(../imagenes/mira.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sunk {
    background-image: url(../imagenes/caravera.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hit {
    background-image: url(../imagenes/humohit.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.miss {
    background-image: url(../imagenes/agua.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*STATUS TABLES*/
.statusTable {
    margin-top: 2%;
    background-color: white;
    box-shadow: 1px 5px 10px 5px white;
    opacity: 90%;
    background-color: white;
    border-radius: 1%;
    font-family: Rocks;
    font-size: 35px;
    letter-spacing: 2px;
}

.historyTitle {
    background-image: url(../imagenes/cocina.jpg);
    background-size: cover;
    text-align: center;
    font-size: 60px;
    font-family: Rocks;
    color: green;
}

#targetTable td {
    vertical-align: middle;
}

tr th {
    text-align: center;
}

.statusPlayerGeneral {
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    opacity: 90%;
    color: firebrick;
}

#statusPlayerTable, #statusPlayerTableContain, #statusOpponentTable, #statusOpponentTableContain {
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    opacity: 90%;
}

/*TableStatus*/
.historyShips {
    margin: 2%;
    font-family: 'Oswald', sans-serif;
}

/*vegetables*/
#choclo_ {
    background-image: url('../grilla/style/choclohorOne.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pepino_ {
    background-image: url('../grilla/style/pepinohorOne.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#lechuga_ {
    background-image: url('../grilla/style/lechugahorOne.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#morron_ {
    background-image: url('../grilla/style/morronhorOne.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#papa_ {
    background-image: url('../grilla/style/papahorOne.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    }

/*meat*/
#costillar_ {
    background-image: url('../grilla/style/costillarhorOne.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pernil_ {
    background-image: url('../grilla/style/pernilhorOne.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#pollo_ {
    background-image: url('../grilla/style/pollohorOne.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#churrasco_ {
    background-image: url('../grilla/style/churrascohorOne.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#chorizo_ {
    background-image: url('../grilla/style/choclohorOne.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    }

#heading h2, #headingTwo h2  {
    text-align: center;
}

#heading button, #headingTwo button  {
    color: green;
    font-weight: bold;
}
