html > body {
	font-family: 'Shadows Into Light', cursive;
}

#mailEnvelope {
	height: 40px;
	width: 40px;
}

#upperBody {
	border-bottom: 1px solid grey;
	margin-bottom: 40px;
}

div > h2	{
	font-weight: bold;
}

h2 > div {
	text-indent: 20px; 
	text-align: justify;
}

div > p 	{
	text-indent: 20px; 
	text-align: justify;
}

span	{
	font-size: 25px;
}

#hometgiflogo {
	height: 250px; 
	width: 250px;
}

div > h3	{
	font-weight: bold;
}

h3 > div 	{
	text-indent: 20px; 
	text-align: justify;
}

#glance {
	font-weight: bold;
	text-align: right;
}